<div class="position-relative">

<div class="swiper-slide">
  <!-- Swiper Main Slider -->
  <div class="js-swiper-blog-modern-hero swiper swiper-equal-height">
    <div class="swiper-wrapper video-bg">
      
      <div class="swiper-slide content-space-3 js-video-bg" data-hs-video-bg-options='{
        "videoId": "/img/video/slide22-1"
      }' style="height: 100vh;">
        <div class="container content-space-b-sm-2 my-auto" style="position: relative; z-index: 2;">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-5">
               <h1 class="display-6 text-light mb-5">
  Cabinet de conseil en transformation numérique, AMOA ERP, conformité RGPD, Cybersécurité et audit des systèmes d'information
</h1>
<p class="fs-3 text-light">
  OLING accompagne les organisations publiques et privées dans la réussite de leurs projets SI, réglementaires et digitaux. Implantés en <span class="text-primary">France hexagonale</span>, en <span class="text-primary">Guadeloupe</span>, <span class="text-primary">Martinique</span>, <span class="text-primary">Guyane</span>, nos consultants apportent des solutions concrètes en <strong>gestion de projet</strong>, <strong>intégration de progiciels</strong>, <strong>mise en conformité RGPD</strong>, <strong>audit ISO 27001</strong> et <strong>optimisation des processus métier</strong>.
</p>

              </div>

              <div class="d-grid d-sm-flex gap-3 mb-5">
                <a class="btn btn-light" href={{ path('apropos')}}>A propos de OLING</a>
                <a class="btn btn-ghost-light btn-pointer" href={{ path('contact')}}>Contactez-nous</a>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        
      
      </div>


      <div class="swiper-slide bg-img-right content-space-3 content-space-t-sm-2 content-space-b-sm-2" style="background-image: url(/img/1920x1080/security.png);">
        
        <!-- Container -->
        <div class="container content-space-b-sm-2 my-auto">
          <div class="row">
            <div class="col-md-8">
                <!-- Media -->
                <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                    <div class="avatar">
                        <img class="avatar-img" src="/img/people/florestan-oling.png" alt="Image Description">
                    </div>
                    </div>

                    <div class="flex-grow-1 ms-3">
                    <a class="text-white" href="#">Florestan ROUET</a>
                    </div>
                </div>
                <!-- End Media -->
            
                <div class="mb-5">
                    <h2 class="display-4 text-light mb-5">OLING est certifiée<br>ISO 27001:2022</h2>
                    <p class="fs-3 text-light">
                      Sécuriser vos projets, c'est créer de la confiance durable.  
                      <br>Grâce au cadre exigeant de la certification ISO 27001, nous intégrons la sécurité by design dans chaque projet de transformation. 
                      <br>Clients, équipes OLING et partenaires peuvent ainsi se concentrer pleinement sur l'essentiel : vos besoins métiers.
                    </p>
                   
                    <div class="d-grid d-sm-flex gap-3 mb-5">
                      <a class="btn btn-light" href={{path('service',{'practice' : 'expertises-audit', 'slug' : 'ssi'} ) }}>Notre pratique de l'ISO 27001:2022</a>
                      <a class="btn btn-ghost-light btn-pointer" href={{ path('contact')}}>Contactez-nous</a>
                    </div>
                   
                </div>

            
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Container -->
      </div>




      <div class="swiper-slide app content-space-3 content-space-t-sm-2 content-space-b-sm-2">
        <!-- Container -->
        <div class="container content-space-b-sm-2 my-auto">
          <div class="row">
            <div class="col-md-6">
                
              <!-- Media -->
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0">
                  <div class="avatar">
                    <img class="avatar-img" src="/img/people/hanna-oling.jpg" alt="Image Description">
                  </div>
                </div>

                <div class="flex-grow-1 ms-3">
                  <a class="text-white" href="#">Hanna Badan</a>
                </div>
              </div>
              <!-- End Media -->
                <div class="mb-5">
                    <h2 class="display-4 text-light mb-5"> Expertise et AMOA en logiciels <span class="text-primary">ERP</span>, adaptée et ciblée </h2>
                    <p class="fs-3 text-light">Nos consultants offrent un soutien spécialisé en maîtrise d'ouvrage pour les ERP et progiciels tels que SAP S/4HANA, SAGE X3, Divalto Infinity et MS Dynamics, adaptant notre approche pour répondre aux enjeux uniques de votre entreprise et piloter efficacement chaque étape de l'intégration.</p>
                </div>
                <div class="d-grid d-sm-flex gap-3 mb-5">
                    <a class="btn btn-soft-light" href="/business-apps/erp">Découvrir le service</a>
                    <a class="btn btn-ghost-light btn-pointer" href={{ path('contact')}}>Contactez-nous</a>
                </div>
                
            </div>
            <!-- End Col -->
            <div class="col-md-6 d-none d-sm-block">
                <br><br>
                <img class="img-fluid float-lg-end" style="opacity: 1;" src="/img/spe/erp.png" alt="Image Description">
            </div>
            <div class="area" >
                    <ul class="circles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div >
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Container -->
      </div>

      <div class="swiper-slide bg-img-right content-space-3 content-space-t-sm-2 content-space-b-sm-2" style="background-image: url(/img/1920x1080/img3.jpg);">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <!-- Container -->
        <div class="container content-space-b-sm-2 my-auto">
          <div class="row">
            <div class="col-md-8">
                <!-- Media -->
                <div class="d-flex align-items-center mb-3">
                    <div class="flex-shrink-0">
                    <div class="avatar">
                        <img class="avatar-img" src="/img/people/dorothee-oling.png" alt="Image Description">
                    </div>
                    </div>

                    <div class="flex-grow-1 ms-3">
                    <a class="text-white" href="#">Dorothée Maitrias</a>
                    </div>
                </div>
                <!-- End Media -->
            
                <div class="mb-5">
                    <h2 class="display-4 text-light mb-5">Conformité sur-mesure et multisectorielle</h2>
                    <p class="fs-3 text-light">OLING vous accompagne dans l'atteinte de vos objectifs de conformité, qu'il s'agisse de normalisation, de réglementaire, ou de financier. Bénéficiez de notre expertise adaptée à votre contexte pour une conformité sereine et efficace.</p>
                    {% for service in services %} 
                        {% if service.practice.id == 7 %}
                            <a class="btn btn-light m-1" href={{path('service',{'practice' : service.practice.slug, 'slug' : service.slug} ) }}>{{ service.designation }}</a>
                        {% endif %}
                    {% endfor %}
                </div>

            
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Container -->
      </div>
    </div>

        <!-- Swiper Pagination -->
    <div class="js-swiper-blog-modern-hero-pagination swiper-pagination swiper-pagination-light position-absolute bottom-0 start-0 end-0 mb-3 d-sm-none"></div>
  </div>
  <!-- End Swiper Main Slider -->

  <!-- Swiper Thumbs Slider -->
  <div class="position-sm-absolute bottom-0 start-0 end-0 zi-2 d-none d-sm-block mb-10">
    <div class="container content-space-t-1">
      <div class="js-swiper-blog-modern-hero-thumbs swiper swiper-step-pagination swiper-step-pagination-light">
        <div class="swiper-wrapper">
          
          <!-- Slide -->
          <div class="swiper-slide mb-4">
            <span class="swiper-step-pagination-title">OLING fiabilise vos projets métier et SI</span>
          </div>
          <!-- End Slide -->

          <!-- Slide -->
          <div class="swiper-slide mb-4">
            <span class="swiper-step-pagination-title">OLING certifiée ISO 27001:2022</span>
          </div>
          <!-- End Slide -->

          <!-- Slide -->
          <div class="swiper-slide mb-4">
            <span class="swiper-step-pagination-title">Piloter vos transitions de progiciels</span>
          </div>
          <!-- End Slide -->

          <!-- Slide -->
          <div class="swiper-slide mb-4">
            <span class="swiper-step-pagination-title">Conformité métier et réglementaire à 360°</span>
          </div>
          <!-- End Slide -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Swiper Thumbs Slider -->
</div>
<!-- End Hero -->