<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name='robots' content='index, follow' />
        <meta lang="fr">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="description" content="{% block meta_description %} {% endblock %}" />
	    <link rel="canonical" href="https://oling.fr/" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    </head>
    <body>
        <!-- ========== HEADER ========== -->
        <header id="header" class="navbar navbar-expand-lg navbar-center navbar-light navbar-absolute-top navbar-show-hide"
                data-hs-header-options='{
                    "fixMoment": 0,
                    "fixEffect": "slide"
                }'>
            <div class="container">
                <nav class="js-mega-menu navbar-nav-wrap">
                    <div class="navbar-brand-wrapper">
                    <!-- Default Logo -->
                    <a class="navbar-brand" href={{ path('index')}} aria-label="Oling">
                        <img class="navbar-brand-logo" src="{{ asset('./img/logo/logoling.png') }}" alt="Logo">
                    </a>
                    <!-- End Default Logo -->
                    </div>

                    <!-- Toggler -->
                    <button type="button" class="navbar-toggler ms-auto" data-bs-toggle="collapse" data-bs-target="#navbarNavMenuLeftAligned" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarNavMenuLeftAligned">
                    <span class="navbar-toggler-default">
                        <i class="bi-list mymenuspe"></i>
                    </span>
                    <span class="navbar-toggler-toggled">
                        <i class="bi-x"></i>
                    </span>
                    </button>
                    <!-- End Toggler -->
                
                    <!-- Collapse -->
                    <div class="navbar-nav-wrap-col collapse navbar-collapse" id="navbarNavMenuLeftAligned">
                    <div class="navbar-absolute-top-scroller">
                        <ul class="navbar-nav nav-pills justify-content-start">
                        {% set count = 0 %}
                        {% for practice in practices %}
                        {% set count = count + 1 %}
                        <!-- Landings -->
                        <li class="hs-has-mega-menu nav-item"
                            data-hs-mega-menu-item-options='{
                                "desktop": {
                                {% if count > 2 %}"position": "right",{% endif %}
                                "maxWidth": "40rem"
                                }
                            }'>
                            <a id="landingsMegaMenu{{ practice.id }}" class="mymenuspe nav-link dropdown-toggle hs-mega-menu-invoker{% if practice.slug == pract %} active{% endif %}" href={{path('practice',{'slug' : practice.slug, 'id' : practice.id} ) }} role="button" aria-expanded="false">{{ practice.designation }}</a>

                            <!-- Mega Menu -->
                            <div class="hs-mega-menu dropdown-menu" aria-labelledby="landingsMegaMenu{{ practice.id }}" style="min-width: 25rem;">
                            
                            
                            <!-- Main Content -->

                            <div class="row">
                                <div class="col-lg d-none d-lg-block">
                                <div class="d-flex align-items-start flex-column bg-light rounded-1 h-100 p-4">
                                    <span class="fs-3 fw-bold d-block">{{ practice.designation }}</span>
                                    {# <img class="img-fluid rounded-2 mb-2" src="{{ practice.image1 }}" alt="Image Description"> #}
                                        <div>
                                            <p>{{ practice.description  | raw  }}</p>
                                        </div>
                                    <div class="mt-auto">
                                    <p class="mb-1"><a class="link link-dark link-pointer" href={{path('practice',{'slug' : practice.slug, 'id' : practice.id} ) }}>Découvrir</a></p>
                                    <p class="mb-1"><a class="link link-dark link-pointer" href={{path('client') }}>Nos références</a></p>
                                    </div>
                                </div>
                                </div>

                                <div class="col-sm">
                                    <div class="navbar-dropdown-menu-inner">
                                        {% for service in practice.services %}
                                        <a class="dropdown-item " href={{path('service',{'practice' : service.practice.slug, 'id' : service.id, 'slug' : service.slug} ) }}> {{ service.designation  | raw  }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- End Main Content -->
                            </div>
                            <!-- End Mega Menu -->
                        </li>
                        <!-- End Landings -->

                        {% endfor %}

                        <!-- Landings -->
                        <li class="nav-item">
                            <a class="mymenuspe nav-link" aria-current="page"  href={{ path('apropos')}} role="button" aria-expanded="false">Découvrez OLING</a>
                        </li>
                        <!-- End Landings -->



                    

                        {# <!-- Log in -->
                        <li class="nav-item ms-lg-auto">
                        
                            
                        </li>
                        <!-- End Log in --> #}

                        {# <!-- Sign up -->
                        <li class="nav-item">
                            <a class="btn btn-sm btn-primary d-none d-lg-inline-block" href={{ path('contact')}}>Contactez-nous</a>
                        </li>
                        <!-- End Sign up --> #}
                        </ul>
                    </div>
                    </div>
                    <!-- End Collapse -->
                </nav>
            </div>
            
        </header>
        {# <div class="container mt-10">
            <nav class="">
                <ul class="nav" id="myNav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#section1" data-scroll="#section1">Section 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section2" data-scroll="#section2">Section 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section3" data-scroll="#section3">Section 3</a>
                    </li>
                </ul>
            </nav>
        </div> #}

        <!-- ========== END HEADER ========== -->



        {% block body %}{% endblock %}



        <!-- ========== FOOTER ========== -->
        <footer class="bg-dark">
            <div class="container">
            <div class="row align-items-center pt-8 pb-4">
                <div class="col-md mb-5 mb-md-0">
                <h2 class="fw-medium text-white-70 mb-0"><span class="fw-bold text-white">OLING</span><br> Expertise et innovation<br> au service de votre réussite.</h2>
                </div>
                <!-- End Col -->
            
                <div class="col-md-auto">
                    <div class="d-grid d-sm-flex gap-3">
                        <div class="text-center mx-auto" style="max-width: 32rem;">
                            <form id="newsletter-form">
                            <!-- Input Card -->
                            <div class="input-card border mb-5">
                                <div class="input-card-form">
                                <label for="champsemail" class="form-label visually-hidden">Votre email</label>
                                <input type="email" class="form-control form-control-lg" id="champsemail" placeholder="Votre email" aria-label="Enter email">
                                </div>
                                <button type="button" class="btn btn-primary btn-lg" id="envoiemail">S'inscrire à la newsletter</button>
                            </div>
                            <!-- End Input Card -->
                            </form>
                        </div>
                        <!-- End Subscribe -->
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="border-bottom border-white-10">
                <div class="row py-9">
                <div class="col-4 col-sm-4 col-lg mb-7 mb-lg-0">
                    <span class="text-cap text-white">Practices</span>

                    <!-- List -->
                    <ul class="list-unstyled list-py-1 mb-0">
                    {% for practice in practices %}
                    <li><a class="link link-light link-light-75" href="{{path('practice',{'slug' : practice.slug, 'id' : practice.id} ) }}">{{ practice.designation }}</a></li>
                    {% endfor %}
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-4 col-lg mb-7 mb-lg-0">
                    <span class="text-cap text-white">La société</span>

                    <!-- List -->
                    <ul class="list-unstyled list-py-1 mb-0">
                    <li><a class="link link-light link-light-75" href={{path('apropos') }}>A propos de OLING </a></li>
                    <li><a class="link link-light link-light-75" href={{path('team') }}>L'Equipe </a> <span class="fs-6 fw-bold text-primary">&mdash; Nous recrutons</span></li>
                    <li><a class="link link-light link-light-75" href={{path('rse') }}>Démarche RSE</a></li>
                    <li><a class="link link-light link-light-75" href="https://web.mapsi.fr/" target="_blank">MAPSI <i class="bi-box-arrow-up-right ms-1"></i></a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->

                               <div class="col-4 col-sm-4 col-lg">
                    <span class="text-cap text-white">Contactez-nous</span>
                    <!-- List -->
                    <ul class="list-unstyled list-py-2 mb-0">
                        <li>
                            <div class="d-flex">
                                <div class="flex-shrink-0 text-light">
                                    <i class="bi-building"></i>
                                </div>

                                <div class="flex-grow-1 ms-2 text-light">
                                    <span class="text-light">51 rue Henri Becquerel, 97122 BAIE MAHAULT, Guadeloupe, France</span>
                                </div>
                            </div>
                        </li>
                        <li><a class="link link-light link-light-75" href={{path('contact') }}>
                            <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-envelope"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Envoyer un email</span>
                            </div>
                            </div>
                        </a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->

                

                <div class="col-4 col-sm-4 col-lg">
                    <span class="text-cap text-white">Suivez-nous</span>
                    <!-- List -->
                    <ul class="list-unstyled list-py-2 mb-0">
                        <li><a class="link link-light link-light-75" href="https://www.linkedin.com/company/oling-management-&-technologie/">
                            <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-linkedin"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Linkedin</span>
                            </div>
                            </div>
                        </a></li>
                        
                        <li><a class="link link-light link-light-75" href="https://twitter.com/oling971">
                            <div class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="bi-twitter"></i>
                            </div>

                            <div class="flex-grow-1 ms-2">
                                <span>Twitter</span>
                            </div>
                            </div>
                        </a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>

            <div class="row align-items-md-center py-6">
                <div class="col-md mb-3 mb-md-0">
                <!-- List -->
                <ul class="list-inline list-px-2 mb-0">
                    <li class="list-inline-item"><a class="link link-light link-light-75" href={{ path('polrgpd')}}>Politique générale de protection des données</a></li>
                    <li class="list-inline-item"><a class="link link-light link-light-75" href={{ path('discloser')}}>Mentions légales</a></li>
                    <li class="list-inline-item">

                    </li>
                </ul>
                <!-- End List -->
                </div>
                <!-- End Col -->

                <div class="col-md-auto">
                <p class="fs-5 text-white-70 mb-0">© OLING Management et Technologie 2012 - 2023</p>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
            </div>
        </footer>
        <!-- ========== END FOOTER ========== -->

    <script>
   
    </script>
    </body>
</html>
