{% extends 'base.html.twig' %}

{% block title %}Conseil et services professionnels - OLING{% endblock %}

{% block body %}
<body>
  
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">

{% include '/includes/slider.html.twig' %}

<div class="container content-space-t-1">
  

    <!-- Stats -->
  <div class="container mt-3 mt-sm-0 mb-10 content-space-1 content-space-lg-3 border border-2 p-5 rounded-2">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-lg-5">
        <div class="mb-6">
          <h2>Votre allié SI et organisation pour mener à bien vos initiatives stratégiques</h2>
            <p>OLING collabore étroitement avec ses clients pour transformer le fonctionnement de leur entreprise en termes de SI et de processus, leur permettant ainsi de se focaliser sur leur cœur de métier. Avec une expertise solide en management et en intégration de systèmes complexes, OLING offre des solutions personnalisées pour soutenir la croissance de ses clients.</p>
        </div>
      </div>
      <!-- End Col -->
      <div class="col-lg-6">
        <!-- List -->
        <ul class="list-equal-height list-equal-height-2-cols">
          <li class="list-equal-height-item">
            <h4 class="display-5 text-center">50 %</h4>
            <p class="mb-0 text-center">Secteur public</p>
          </li>
          <li class="list-equal-height-item">
            <h4 class="display-5 text-center">50 %</h4>
            <p class="mb-0 text-center">Secteur privé</p>
          </li>
          <li class="list-equal-height-item">
            <h4 class="display-5 text-center">150+</h4>
            <p class="mb-0 text-center">projets conduits dans les outremers et l'hexagone</p>
          </li>
          <li class="list-equal-height-item">
            <h4 class="display-5 text-center"><sub><i class="bi-arrow-up-short text-primary ms-n2"></i></sub>10</h4>
            <p class="mb-0 text-center">consultants experts</p>
          </li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Stats -->

  <!-- Card Grid -->
<div class="container content-space-1">
  <!-- Heading -->
  <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
      <h2>Des services personnalisés pour des exigences spécifiques</h2>
      <p>OLING s'organise autour de quatre practices, chacune dédiée à un aspect spécifique de l'entreprise</p>
  </div>
  <!-- End Heading -->

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 gx-0 gx-md-0">
    {% set count = 0 %}
    {% for practice in practices %}
    {% set count = count + 1 %}
    <div class="col mb-2 mb-md-4">
      <!-- Card -->
      <a class="card card-borderless card-transition-zoom bg-soft-light h-100"
      style="{% if count == 2 %}margin-top:30px{% endif %}{% if count == 3 %}margin-top:60px{% endif %}{% if count == 4 %}margin-top:90px{% endif %}" 
       href={{path('practice',{'slug' : practice.slug, 'id' : practice.id} ) }}>
        {#  #}
        <div class="card-transition-zoom-item {{ practice.class1 }}">
          <img class="card-img" src="{{ practice.image1 }}" alt="Image Description">
        </div>
        <div class="card-body">
          <span class="card-subtitle text-body my-3"><span class="fw-bold text-dark">{{ practice.designation }}</span></span>
          <h4 class="card-title">{{ practice.introduction }}</h4>
          <p>{{ practice.DescriptionShort }}</p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Col -->
    {% endfor %}

  </div>
  <!-- End Row -->
</div>
<!-- End Card Grid -->


  {# <!-- Heading -->
  <div class="container content-space-t-2 content-space-t-lg-0 content-space-b-1">
    <div class="w-lg-65 text-center mx-lg-auto">
      <h2>Des solutions personnalisées pour des exigences spécifiques</h2>
      <p>OLING s'organise autour de quatre practices, chacune dédiée à un aspect spécifique de l'entreprise : Consulting et AMOA, Expertises et Audit, Business Apps et Microsoft 365. </p>
    </div>
  </div>
  <!-- End Heading -->



  <!-- Step Features -->
  <div class="container">
    <!-- List Step -->
    <ul class="list-unstyled list-step list-py-3 mb-0">
      {% for practice in practices %}
      <li class="list-step-item">
        <div class="position-relative rounded-3 py-8 px-4 px-md-10">
          <div class="row align-items-lg-center">
            <div class="col-lg-5 mb-7 mb-lg-0">
              <div class="pe-lg-5">
                <div class="mb-5">
                  <span class="text-cap text-primary">{{ practice.designation }}</span>
                  <h2>{{ practice.introduction }}</h2>
                  <p>{{ practice.DescriptionShort }}</p>
                   <a class="link link-pointer" href={{path('practice',{'slug' : practice.slug, 'id' : practice.id} ) }}>En savoir plus</a>
                </div>
              </div>
            </div>
            <!-- End Col -->
            <div class="col-lg-7">
              <div class="video-bg">
                <div class="js-video-bg video-bg-content"
                    data-hs-video-bg-options='{
                      "videoId": "/img/video/working-in-office"
                    }'>
                </div>
              </div> 
              <img class="img-fluid rounded" src="{{ practice.image1 }}" alt="Image Description">
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
          <div class="position-absolute top-0 start-0 w-100 w-lg-65 h-65 h-lg-100 bg-light rounded-3 zi-n1 ms-n5">
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <!-- End List Step -->
  </div>
  <!-- End Step Features --> #}

  <!-- Features -->
  <div class="overflow-hidden">
    <div class="container content-space-1 content-space-lg-2">
      <div class="position-relative mb-8">
        <div class="row justify-content-lg-between">
          <div class="col-md-6 col-lg-6 mb-7 mb-lg-0">
              <div class="mb-5">
                <h2>Recherchez-vous un partenaire fournissant une expertise adaptée à votre secteur d'activité ?</h2>
                <p>Notre équipe d'experts internes dispose d'une connaissance approfondie des défis uniques auxquels font face les entreprises dans divers secteurs, tels que les services publics, le transport, le négoce et la distribution, l'apprentissage et la formation, et bien d'autres.</p> 
                <p>En travaillant avec OLING, vous bénéficiez d'une collaboration étroite avec nos spécialistes qui comprennent les enjeux de votre secteur et les processus spécifiques à votre organisation. Nous vous aidons à mettre en place des solutions sur mesure, robustes et selon les standards de référence pour répondre à vos besoins et soutenir votre croissance.</p>
              </div>

              <a class="link link-pointer" href={{ path('metiers')}}>Découvrez nos expériences par secteur d'activité</a>
          </div>
          <!-- End Col -->
          <div class="col-md-6 col-lg-6 pt-10 d-none d-sm-block d-flex justify-content-center align-items-center text-center">
            <div class="icon-demo d-flex align-items-center justify-content-center p-3 py-6" style="font-size: 15em" role="img" aria-label="Building fill check - large preview">
              <i class="bi bi-building text-light align-self-center"></i>
            </div>
          </div>

        </div>
        <!-- End Row -->
      </div>
    </div>
  </div>
  <!-- End Features -->

  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "content": {
    "message": "Notre site utilise des cookies techniques nécessaires au bon fonctionnement du site et à la sécurité de votre navigation. Nous ne collectons pas de données de traçabilité personnelles à des fins publicitaires ou de profilage. En continuant à utiliser notre site, vous acceptez l'utilisation de ces co",
    "dismiss": "Ok !",
    "link": "/politiquergpd"
  }
});
</script>
</body>
{% endblock %}
