{% extends 'base.html.twig' %}

{% block title %}{{ practice.designation }} - OLING{% endblock %}
{% block meta_description %}{{ practice.IntroductionShort | raw }}{% endblock %}

{% block body %}

  
  <!-- Hero -->
<div class="d-flex bg-img-center {{ practice.class1 }} mt-10" style="background-image: url({{ practice.image2 }}); height: 100vh;">
  <div class="container content-space-2 content-space-lg-3 ">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-10 mb-lg-0">
          <div class="position-relative">
            {# <img class="img-fluid rounded-3" src="/img/spe/chronometre.png" alt="Image Description"> #}
            {# <div class="w-75 ms-auto">
              <img class="img-fluid rounded" src="{{ practice.image1 }}" alt="Image Description">
            </div>


            <!-- SVG Shape -->
            <figure class="position-absolute top-0 end-0 mt-n10 me-n0" style="width: 10rem;">
              <img class="img-fluid" src="{{ practice.image2 }}" alt="Image Description">
            </figure>
            <!-- End SVG Shape --> #}
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-7">
          <div class="pe-lg-5">
            <div class="mb-5">
              <h1 class="text-light display-4">{{ practice.designation }}</h1>
              <p class="fs-3 text-light">{{ practice.IntroductionShort | raw }}</p>
            </div>

            

          </div>
            
        </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
    {% for service in practice.services %} 
              <a class="btn btn-soft-light link-pointer m-1 fs-3 " href={{path('service',{'practice' : service.practice.slug, 'slug' : service.slug} ) }}><i class="{{ service.ico }} ms-1"></i>  {{ service.designation }}</a>
            {% endfor %}
  </div>
    <!-- End Features -->
    
</div>
<!-- End Hero -->

<!-- Card Grid -->
<div class="container content-space-t-2 content-space-t-lg-3 overflow-hidden">
  <!-- Heading -->
  <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
    <h2>The work we do,<br>and the people we help</h2>
  </div>
  <!-- End Heading -->

  <div class="row row-cols-1 row-cols-sm-2 gx-7">
    <div class="col mb-5">
      <!-- Card -->
      <a class="card card-ghost card-transition-zoom h-100" href="./portfolio-case-study.html">
        <div class="card-pinned card-transition-zoom-item">
          <img class="card-img" src="/img/580x480/img23.jpg" alt="Image Description">
          <span class="badge bg-dark text-white card-pinned-top-end">New addition</span>
        </div>

        <div class="card-body">
          <h4>Proof – <span class="fw-medium">Creating a design system for a suite of products</span></h4>
          <p class="card-text">Branding</p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <a class="card card-ghost card-transition-zoom h-100" href="./portfolio-case-study.html">
        <div class="card-transition-zoom-item">
          <img class="card-img" src="/img/580x480/img22.jpg" alt="Image Description">
        </div>

        <div class="card-body">
          <h4>Front – <span class="fw-medium">Multipurpose Responsive Template</span></h4>
          <p class="card-text">Admin &amp; Dashboard</p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <a class="card card-ghost card-transition-zoom h-100" href="./portfolio-case-study.html">
        <div class="card-transition-zoom-item">
          <img class="card-img" src="/img/580x480/img21.jpg" alt="Image Description">
        </div>

        <div class="card-body">
          <h4>Nova – <span class="fw-medium">Responsive WebApp UI Kit</span></h4>
          <p class="card-text">Admin &amp; Dashboard</p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <a class="card card-ghost card-transition-zoom h-100" href="./portfolio-case-study.html">
        <div class="card-pinned card-transition-zoom-item">
          <img class="card-img" src="/img/580x480/img20.jpg" alt="Image Description">
          <span class="badge bg-dark text-white card-pinned-top-end">New addition</span>
        </div>

        <div class="card-body">
          <h4>Space – <span class="fw-medium">Multipurpose Template + UI Kit</span></h4>
          <p class="card-text">Landing &amp; Corporate</p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <a class="card card-ghost card-transition-zoom h-100" href="./portfolio-case-study.html">
        <div class="card-transition-zoom-item">
          <img class="card-img" src="/img/580x480/img19.jpg" alt="Image Description">
        </div>

        <div class="card-body">
          <h4>Crab – <span class="fw-medium">Web Design &amp; Development</span></h4>
          <p class="card-text">Landing &amp; Corporate</p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Col -->

    <div class="col mb-5">
      <!-- Card -->
      <a class="card card-ghost card-transition-zoom h-100" href="./portfolio-case-study.html">
        <div class="card-transition-zoom-item">
          <img class="card-img" src="/img/580x480/img24.jpg" alt="Image Description">
        </div>

        <div class="card-body">
          <h4>Garvest – <span class="fw-medium">Reinventing customer care for the home</span></h4>
          <p class="card-text">Branding</p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="text-center">
    <a class="btn btn-white btn-pointer" href="./page-customer-stories.html">View all case studies</a>
  </div>
</div>
<!-- End Card Grid -->


  

{% endblock %}
