{% extends 'base.html.twig' %}

{% block title %}{{ practice.designation }} - OLING{% endblock %}
{% block meta_description %}{{ practice.IntroductionShort | raw }}{% endblock %}

{% block body %}
<body>
  
  <!-- Hero -->
<div class="d-flex bg-img-center {{ practice.class1 }} mt-10" style="background-image: url({{ practice.image2 }}); height: 100vh;">
  <div class="container content-space-2 content-space-lg-3 ">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-10 mb-lg-0">
          <div class="position-relative">
            {# <img class="img-fluid rounded-3" src="/img/spe/chronometre.png" alt="Image Description"> #}
            {# <div class="w-75 ms-auto">
              <img class="img-fluid rounded" src="{{ practice.image1 }}" alt="Image Description">
            </div>


            <!-- SVG Shape -->
            <figure class="position-absolute top-0 end-0 mt-n10 me-n0" style="width: 10rem;">
              <img class="img-fluid" src="{{ practice.image2 }}" alt="Image Description">
            </figure>
            <!-- End SVG Shape --> #}
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-7">
          <div class="pe-lg-5">
            <div class="mb-5">
              <h2 class="text-light display-4">{{ practice.designation }}</h2>
              <p class="fs-3 text-light">{{ practice.IntroductionShort | raw }}</p>
            </div>

            

          </div>
            
        </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
    {% for service in practice.services %} 
              <a class="btn btn-soft-light link-pointer m-1 fs-3 " href={{path('service',{'practice' : service.practice.slug, 'id' : service.id, 'slug' : service.slug} ) }}><i class="{{ service.ico }} ms-1"></i>  {{ service.designation }}</a>
            {% endfor %}
  </div>
    <!-- End Features -->
    
</div>
<!-- End Hero -->


  


</body>
{% endblock %}
