{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>

    <!-- Hero -->
    <div class="bg-gradient-to-bottom-sm-light">
    <div class="container content-space-t-3 content-space-t-lg-4">
        <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-lg-10">
        <span class="text-cap">{{ service.DesignationShort }}</span>
        <h1>{{ service.designation }}</h1>
        <p class="lead">{{ service.IntroductionShort }}</p>
        </div>

    </div>
    </div>
    <!-- End Hero -->


    <!-- Description -->
    <div class="container content-space-1">
    <div class="row justify-content-lg-between">
        <div class="col-lg-8 order-lg-2">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-7">
            <li class="breadcrumb-item">
                <a href={{ path('index')}}>Accueil</a>
            </li>
            <li class="breadcrumb-item">
                <a href={{path('practice',{'slug' : service.practice.slug, 'id' : service.practice.id} ) }}>{{ service.practice.designation }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ service.designation }}</li>
            </ol>
        </nav>
        <!-- End Breadcrumb -->

        
        {{ service.description  | raw }}

        <div class="bg-soft-primary text-center rounded py-6 px-5 mt-10">
            <div class="mb-3">
            <h5>Cet article était il utile ?</h5>
            </div>

            <div class="d-flex justify-content-center gap-2 mb-2">
            <button type="button" class="btn btn-primary">
                <i class="bi-hand-thumbs-up me-1"></i> Yes, thanks!
            </button>
            <button type="button" class="btn btn-soft-dark">
                <i class="bi-hand-thumbs-down me-1"></i> Not, really
            </button>
            </div>
        </div>

        <!-- End Sticky End Point -->
        <div id="stickyBlockEndPointEg3"></div>
        </div>
        <!-- End Col -->

        <div class="col-lg-3 d-none d-lg-block">
        <div id="stickyBlockStartPointEg3">
            <!-- Card -->
            <div class="js-sticky-block"
                data-hs-sticky-block-options='{
                "parentSelector": "#stickyBlockStartPointEg3",
                "targetSelector": "#header",
                "breakpoint": "lg",
                "startPoint": "#stickyBlockStartPointEg3",
                "endPoint": "#stickyBlockEndPointEg3",
                "stickyOffsetTop": 20
            }'>
            <h5>Nos services {{ service.practice.designation }}</h5>

            <!-- List -->
            <ul class="list-pointer list-pointer-secondary">

                {% for serv in services %}
                    {% if serv.practice == service.practice %}
                    <li class="list-pointer-item">
                        <a class="link link-secondary" href={{path('service',{'practice' : serv.practice.slug, 'id' : serv.id, 'slug' : serv.slug} ) }}>{% if serv.id == service.id %}<strong> {% endif %} {{ serv.designation  | raw  }}{% if serv.id == service.id %}</strong> {% endif %}</a>
                    </li>
                    {% endif %}
                {% endfor %}

            </ul>
            <!-- End List -->
            </div>
            <!-- End Card -->
        </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
    </div>
    <!-- End Info -->

    <!-- List -->
    <div class="container content-space-b-1">
    <div class="row justify-content-lg-end">
        <div class="col-lg-8">
        <hr class="my-5">

        <!-- Heading -->
        <div class="mb-4">
            <h4>Articles associés</h4>
        </div>
        <!-- End Heading -->

        <div class="row">
            <div class="col-sm-6">
            <!-- List -->
            <ul class="list-pointer mb-2">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">What methods of payments are supported?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get a receipt for my purchase?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How can I get a refund?</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6">
            <!-- List -->
            <ul class="list-pointer mb-2">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Which license do I need?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get access to a theme I purchased?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Upgrade License Type</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
    </div>
    <!-- End List -->
  

  
  <script>
    
  </script>
</body>
{% endblock %}
