{% extends 'base.html.twig' %}

{% block title %}L'équipe - OLING{% endblock %}
{% block meta_description %}Uné équipe dédiée et compétente sur les projets de transformation sur les thèmes de l'information, de la qualité, de la finance et des achats{% endblock %}


{% block body %}
<body>
      <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">



    <!-- Description -->
    <div class="container content-space-3">

        <div class="linear rounded-3 p-9 mb-10">
            <div class="row">
                <div class="col-md-6 mb-7 mb-lg-0">
                    <span class="badge bg-soft-light text-white text-wrap mb-3"><i class="bi-stars me-1"></i> Expertises métier</span>
                    <div class="w-md-75 mb-5">
                    <h2 class="text-white">Une équipe composée d'experts pluridisciplinaire</h2>
                    <p class="text-white-70"></p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-md-6">

                    
                    
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>

        <div id="listOfSocialLinks" class="position-relative">
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Expertise et passion au service de vos projets !</h4>
                    <p>Au sein d'OLING, notre équipe dynamique et passionnée est prête à relever tous les défis. Composée d'experts chevronnés et de talents prometteurs, nous sommes animés par la soif de réussite et le désir d'accompagner nos clients vers l'excellence. 
                    <br />Nous mettons notre expertise, notre savoir-faire et notre dévouement au service de chaque projet, transformant les ambitions de nos clients en réalités concrètes. Ensemble, nous cultivons la réussite et savourons chaque victoire. <p>
                    <blockquote class="blockquote m-6">Rejoignez-nous et laissez-vous porter par notre élan d'enthousiasme et de professionnalisme ! </blockquote>
                    


                    {% for people in team %}
                    <!-- Media -->
                    <div class="d-sm-flex mb-10">
                        <div class="flex-shrink-0 mb-3 mb-sm-0">
                            <span class="avatar avatar-xxl">
                                <img class="avatar-img" src={{ people.photo }} alt="Photo de {{ people.noncomplet }}">
                            </span>
                        </div>
                        <div class="flex-grow-1 ms-sm-4">
                            <!-- Media -->
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4 class="mb-0">
                                    <a class="text-dark" href="#">{{ people.noncomplet }}</a>
                                </h4>
                                <a class="link" href={{ people.linkedin }}><i class="bi-linkedin me-1"></i></a>
                        
                            </div>
                            <!-- End Media -->

                            <p>{{ people.shortcv | raw }}</p>
                        </div>
                    </div>
                    <!-- End Media -->
                    {% endfor %}
                </div>
            </div>

            {% include '/includes/sticky.html.twig' %}

    
            <!-- End Sticky End Point -->
            <div id="stickyBlockEndPointEg1"></div>
        </div>
        <!-- End Description -->

        
        
    </div>
    <!-- End Description -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
</body>
{% endblock %}
